.contact-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  padding: 20px;
  text-align: center;
  color: white;
  overflow: hidden;
}

.contact-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/rocky-mountain-park.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
  z-index: -1;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-page p {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left; /* Left align text within paragraph box */
  margin-top: 20px;
  max-width: 700px; /* Set maximum width for paragraph box */
  margin-left: auto; /* Center the box horizontally */
  margin-right: auto; /* Center the box horizontally */
}

/* Navigation Buttons Styling */
.contact-page > div { /* Targeting NavigationBar div directly */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-page > div button { /* Styling buttons within NavigationBar */
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  background-color: darkgray; /* Default button color */
  font-family: sans-serif;
  font-weight: bold;
}

.contact-page > div button:hover {
  background-color: blue;
  border-color: white;
}