.skills-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

.skills-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/rocky-mountain-park.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
  z-index: -1;
}

.skills-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}

.skills-page p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
  max-width: 55vw;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 18px;
}

/* Style for links within the paragraph in Skills page */
.skills-page p a {
  color: rgb(255, 255, 0);
  text-decoration: none;
}

/* Style for visited links - keep them green */
.skills-page p a:visited {
  color: rgb(255, 255, 0);
}

/* Optional: Hover effect - you can adjust this if needed */
.skills-page p a:hover {
  text-decoration: underline;
}

/* Navigation Buttons Styling */
.skills-page > div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.skills-page > div button {
  padding: 10px 20px;
  border: 2px solid rgb(140, 140, 0);
  border-radius: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  background-color: rgb(140, 140, 0);
  font-family: sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.skills-page > div button:hover {
  background-color: yellow;
  border-color: yellow;
}

/* Different colors for each project section */
.skills-page .project {
  background-color: rgba(140, 140, 0, 0.6);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .skills-page {
    padding-left: 10px;
    padding-right: 10px;
  }
  .skills-page p {
    padding: 15px;
    max-width: 95%;
    font-size: 3vw;
  }
  .skills-page h1 {
    font-size: 7vw;
  }
  .skills-page > div button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
