.work-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

.work-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/rocky-mountain-park.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
  z-index: -1;
}

.work-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px; /* Reverted to original pixel font size for h1 */
}

.work-page p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
  max-width: 55vw;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 18px; /* Reverted to original pixel font size for p */
}

/* Navigation Buttons Styling */
.work-page > div { /* Targeting NavigationBar div directly */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.work-page > div button { /* Styling buttons within NavigationBar */
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  background-color: darkgray;
  font-family: sans-serif;
  font-weight: bold;
}

.work-page > div button:hover {
  background-color: red;
  border-color: white;
}

/* Media Query for smaller screens (example: tablets and phones) - Font scaling with vw units */
@media (max-width: 768px) {
  .work-page {
    padding-left: 10px;
    padding-right: 10px;
  }
  .work-page p {
    padding: 15px;
    max-width: 95%;
    font-size: 3vw; /* Font size scales with viewport width on smaller screens */
  }
   .work-page h1 {
    font-size: 7vw; /* Font size scales with viewport width on smaller screens */
  }
  .work-page > div button {
    padding: 8px 16px;
    font-size: 14px;
  }
}